@import 'variables';

.badge {
  &.red {
    color: $white;
    background-color: $red;
  }
  &.crimson {
    color: $white;
    background-color: crimson;
  }
  &.orange {
    color: $white;
    background-color: $orange;
  }
  &.bisque {
    background-color: bisque;
  }
  &.gold {
    color: $black;
    background-color: goldenrod;
  }
  &.green {
    color: $white;
    background-color: $green;
  }
  &.darkgreen {
    background-color: darkgreen;
  }
  &.magenta {
    color: $white;
    background-color: $magenta;
  }
  &.white {
    background-color: $white;
  }
  &.brown {
    color: $white;
    background-color: $brown;
  }
  &.black {
    color: $white;
    background-color: $black;
  }

  // -- Green to red gradient
  &.green1 {
    color: $white;
    background-color: #69B34C;
  }
  &.green2 {
    color: $white;
    background-color: #ACB334;
  }
  &.yellow1 {
    color: $white;
    background-color: #C9A036;
  }
  &.yellow2 {
    color: $white;
    background-color: #FAB733;
  }
  &.orange1 {
    color: $white;
    background-color: #FF8E15;
  }
  &.orange2 {
    color: $white;
    background-color: #FF4E11;
  }
  &.red1 {
    color: $white;
    background-color: #FF0D0D;
  }

  // -- Modern Art
  &.lite-metal {
    color: darken($yellow, 20);
    background-color: lighten($yellow, 30);
  }
  &.yoko {
    color: darken($light-green, 30);
    background-color: lighten($light-green, 25);
  }
  &.cristin-p {
    color: darken($red, 20);
    background-color: lighten($red, 35);
  }
  &.karl-gitter {
    color: darken($light-purple, 20);
    background-color: lighten($light-purple, 10);
  }
  &.krypto {
    color: darken($light-brown, 30);
    background-color: lighten($light-brown, 20);
  }

}
