@import 'variables';

.badge {
  &.bisque {
    background-color: bisque;
  }
  &.brown {
    color: $white;
    background-color: $brown;
  }
  &.darkgreen {
    background-color: darkgreen;
  }
  &.gold {
    color: $black;
    background-color: goldenrod;
  }
  &.green {
    color: $white;
    background-color: $green;
  }
  &.magenta {
    color: $white;
    background-color: $magenta;
  }
  &.orange {
    color: $white;
    background-color: $orange;
  }


  &.white { background-color: $white; }
}
