@import 'variables';

.btn-primary {
  &.light-brown {
    color: darken($light-brown, 20);
    border-color: darken($light-brown, 20);
    background-color: lighten($light-brown, 20);
  }
  &.dark-pink {
    color: darken($dark-pink, 20);
    border-color: darken($dark-pink, 20);
    background-color: lighten($dark-pink, 20);
  }
  &.yellow {
    color: darken($yellow, 20);
    border-color: darken($yellow, 20);
    background-color: lighten($yellow, 20);
  }
  &.light-green {
    color: darken($light-green, 20);
    border-color: darken($light-green, 30);
    background-color: lighten($light-green, 30);
  }
  &.light-purple {
    color: darken($light-purple, 20);
    border-color: darken($light-purple, 20);
    background-color: lighten($light-purple, 10);
  }
}
