$text-color: #212529;
$text-color-light: #fafafa;

$red: #ff0000;
$light-orange: #ffe082;
$yellow: #d1d322;
$light-green: #5be67e;
$blue: #0074d9;
$light-purple: #c0afef;
$light-brown: #d7ae85;
$black: #111;

$info: #17a2b8;
