@import 'badges';
@import 'base';
@import 'buttons';
@import 'views/game';

.alert-current {
  background-color: lighten($light-green, 10);
  border-color: lighten($light-green, 5);
  color: $white;
}
